.chatting-page{
    height: 100vh;
    width: 100vw;
    background-image : linear-gradient(blue,green);
}

.profile-Sec{
    display: flex;
    position: relative;
    height: 10vh;
    width: 100vw;
    border : 1px solid black;
    align-items: center;
}
#profile-dp{
    position: absolute;
    height: 4vw;
    width: 4vw;
    background-color: red;
    right: 3%;
    border-radius: 150%;
}
.profile-Sec h1{
    position: absolute;
    right : 10%;
    color : black;
}
.chatting-container{
    display: flex;
    position: relative;
    height: 90vh;
    width: 80vw;
    background-color: green;
    left: 20%;
    justify-content: center;
}
.message-input{
    position: absolute;
    height: 8%;
    width: 80%;
    background-color: blue;
    border-radius: 14px;
    top: 80%;
    left: 10%;
}
